# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List popular tools used by Data Scientists
* Evaluating arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Java  
1. Python  
1. R

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
1. NumPy
1. Pandas

|Data Science Tools|
|------------------|
| Jupyter          |
| GitHub           |
| Rstudio          |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
m = 200
h = m/60
# This will convert 200 minutes to hours by diving by 60
print(h)

3.3333333333333335

## Author
Ghanim S.